{% extends "proyecto_web_muebleria/base.html" %}

{% block body %}
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <form class="d-flex" role="search" method="get" action="/ordenes/home/listarOrden/">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="buscar" value="{{request.GET.buscar}}">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
</nav>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Crear Ordenes</h2>
        <div class="card">
            <div class="card-body">
                <form action="/ordenes/home/crearOrden/" method="post"> {% csrf_token %}
                   <div class="input-group mb-3">
                        <label class="input-group-text" for="fecha">Fecha:</label>
                        <input class="form-control" type="date" id="fecha" name="fecha">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Elemento</label>
                        <select class="form-select" id="idElemento" name="idElemento" required>
                            <option selected>selecionar</option>
                            {% for e in elemento %}
                                <option value="{{ e.id }}">{{ e }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <input type="number" id="numCantidad" name="numCantidad" class="form-control" placeholder="Cantidad"  min="1" required>
                    </div>
                    
                    <div class="form-group">
                        <input type="number" id="numValor" name="numValor" class="form-control" placeholder="Valor Total"  min="1" required>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">clientes</label>
                        <select class="form-select" id="idCliente" name="idCliente" required>
                            <option selected>selecionar</option>
                            {% for cliente in clientes %}
                                <option value="{{ cliente.id }}">{{ cliente }}</option>
                            {% endfor %}
                        </select>
                    </div>
                        <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="table-responsive py-2">
            <h1>Lista de Ordenes</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Fecha</th>
                        <th>Elemento</th>
                        <th>Cantidad</th>
                        <th>Valor</th>
                        <th>Cliente</th>
                        <th colspan="2">opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for o in ordenes %}
                    <tr>
                        <td>{{o.id}}</td>
                        <td>{{o.fecha}}</td>
                        <td>{{o.id_elemento}}</td>
                        <td>{{o.cantidad}}</td>
                        <td>{{o.valor_total}}</td>
                        <td>{{o.id_cliente}}</td>

                        {% if request.GET.buscar %}
                            <td><a href="{% url 'ordenes:editar_orden' o.id %}?buscar={{request.GET.buscar}}" class="btn btn-primary">Editar</a></td>
                            <td><a href="{% url 'ordenes:eliminar_orden' o.id %}?buscar={{request.GET.buscar}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                        {% else %}
                            <td><a href="{% url 'ordenes:editar_orden' o.id %}" class="btn btn-primary">Editar</a></td>
                            <td><a href="{% url 'ordenes:eliminar_orden' o.id %}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}