{% extends "proyecto_web_muebleria/base.html" %}

{% block body %}
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
</nav>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <h2>Crear Elementos</h2>
        <div class="card">
            <div class="card-body">
                <form action="/elementos/home/crearElemento/" method="post"> {% csrf_token %}
                    
                    <div class="form-group">
                        <input type="text" id="textDescripcion" name="textDescripcion" class="form-control" placeholder="Descripcion"  maxlength="100" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="numPrecio" name="numPrecio" class="form-control" placeholder="Precio"  maxlength="100" required>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">categorias</label>
                        <select class="form-select" id="textCategoria" name="textCategoria" required>
                            <option selected>selecionar</option>
                            {% for categoria in categorias %}
                                <option value="{{ categoria.id }}">{{ categoria }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-9">
        <div class="table-responsive py-2">
            <h1>Lista de Elementos</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Categoria</th>
                        <th colspan="2">opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in elementos %}
                    <tr>
                        <td>{{e.id}}</td>
                        <td>{{e.descripcion}}</td>
                        <td>{{e.precio}}</td>
                        <td>{{e.id_categoria}}</td>

                        <td><a href="editarElemento/{{e.id}}" class="btn btn-primary">editar</a></td>
                        <td><a href="eliminarElemento/{{e.id}}" class="btn btn-danger btnEliminacion">eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}