{% extends "proyecto_web_muebleria/base.html" %}

{% block body %}
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <form class="d-flex" role="search" method="get" action="/elementos/home/listarElemento/">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search", name="buscar", value="{{request.GET.buscar}}">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
</nav>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <h2>Crear Elementos</h2>
        <div class="card">
            <div class="card-body">
                <form action="/elementos/home/crearElemento/" method="post"> {% csrf_token %}
                    
                    <div class="form-group">
                        <input type="text" id="textDescripcion" name="textDescripcion" class="form-control" placeholder="Descripcion"  maxlength="100" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="numPrecio" name="numPrecio" class="form-control" placeholder="Precio"  maxlength="100" required>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">categorias</label>
                        <select class="form-select js-example-basic-single " id="selectCategoria" name="selectCategoria" required>
                            <option selected>selecionar</option>
                            {% for categoria in categorias %}
                                <option value="{{ categoria.id }}">{{ categoria }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-9">
        <div class="table-responsive py-2">
            <h1>Lista de Elementos</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Categoria</th>
                        <th colspan="2">opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in elementos %}
                    <tr>
                        <td>{{e.id}}</td>
                        <td>{{e.descripcion}}</td>
                        <td>{{e.precio}}</td>
                        <td>{{e.id_categoria}}</td>
                        {% if request.GET.buscar %}
                            <td><a href="{% url 'elementos:editar_elemento' e.id %}?buscar={{request.GET.buscar}}" class="btn btn-primary">Editar</a></td>
                            <td><a href="{% url 'elementos:eliminar_elemento' e.id %}?buscar={{request.GET.buscar}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                        {% else %}
                            <td><a href="{% url 'elementos:editar_elemento' e.id %}" class="btn btn-primary">Editar</a></td>
                            <td><a href="{% url 'elementos:eliminar_elemento' e.id %}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
    $('.js-example-basic-single').select2();
});
</script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

{% endblock %}